@use 'hero';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&family=Roboto:wght@400;900&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: white;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
   
    @media (max-width: 640px) {
        max-width: 80%;
    }
    @media (max-width: 1024px) {
        max-width: 90%;
    }
}
